@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian&display=swap");

@font-face {
  font-family: "PoqrikDzeragir";
  src: url("./poqrik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  background-color: black;
}

body {
  font-family: "PoqrikDzeragir", serif;
  font-size: 34px;
  margin: 0;
  background: url("./background2.png") center / cover no-repeat fixed;
  transition: filter 2.5s ease-in-out;
}

.state-depressed {
  filter: grayscale(60%) contrast(90%) brightness(95%);
}

header {
  font-family: "Noto Sans Armenian", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(255, 255, 255) 90%, #ffffff00);
}

header h2 {
  font-size: 35px;
  width: 1050px;
  text-align: justify;
}

header h2 span {
  display: inline-block;
  font-size: 20px;
  color: rgb(155, 0, 0);
}

header .scroll-hint {
  border: 2px black dashed;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-hint svg {
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  width: 1080px;
  flex-direction: column;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50vh;
  padding-bottom: 200px;
}

.paper-wrapper {
  position: relative;
  margin-top: 10vh;
  height: 30vh;
  width: 100%;
  margin-bottom: 70vh;
}

.paper-wrapper:last-child {
  margin-bottom: 10vh;
}

.sticky-group {
  position: sticky;
  top: 50vh;
}

.sticky-group > * {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.paper {
  width: 700px;
  padding: 7rem 2rem 3rem 76px;
  text-indent: 24px;
  background-repeat: no-repeat;
  background-position: -35px -83px;
  background-image: url(./paperlike3.png);
  background-size: 239%;
  transform: rotate(-1deg) translateY(-50%);
  border-radius: 2px;
  line-height: 1.185;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.paper-wrapper .sticky-group .paper.conclusion {
  transform: rotate(0) translateY(-50%);
  background-image: url(./paperlike2.png);
  background-size: 202%;
  background-position: -35px -85px;
  width: 100%;
}

.paper .date {
  position: absolute;
  left: 78px;
  top: 32px;
}

.paper-wrapper:nth-child(even) .paper {
  transform: rotate(1deg) translateY(-50%);
  right: 0;
  left: auto;
}

.sticky-group img {
  transform: rotate(3deg) translateY(-50%);
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
}

.paper-wrapper:nth-child(even) .sticky-group img {
  transform: rotate(-3deg) translateY(-50%);
  left: 0;
}

footer {
  background-color: black;
  color: white;
  margin-top: 15rem;
  font-family: "Noto Sans Armenian", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

footer p {
  margin: 0;
}

footer p:nth-child(1) {
  margin-right: 2rem;
}
